ul.g-folder-list(style='padding: 0px;list-style-type: none;')
	each folder in folders
		li.SAIP-folder-list-entry(style='font-size: 15px;border-top: 1px solid #efefef;box-sizing: border-box;padding: 4px 5px 3px;')
			//- if parentCheckboxFlag
			//- 	input.SAIP-list-checkbox(style='margin-right: 7px;',type="checkbox", s-study-id=folder.id,s-type='study' checked)
			//- else
			//- 	input.SAIP-list-checkbox(style='margin-right: 7px;',type="checkbox", s-study-id=folder.id,s-type='study')
			input.SAIP-list-checkbox-studies(style='margin-right: 7px;',type="checkbox", s-study-id=folder.id,s-type='study')
			a.SAIP-folder-list-link-studies(name=folder.study_description,study-id=folder.id, study_path=folder.study_path)
				i.icon-folder
				= folder.study_description
				i.icon-right-dir
